.navigation-box {
    -fx-background-color: #373738;
}

.navigation-box > GridPane {
    -fx-vgap: 15;
    -fx-alignment: center;
}

.navigation-box > Label {
    -fx-pref-width: 150;
    -fx-alignment: center;
}

JFXButton {
    -fx-pref-width: 100;
    -fx-background-color: #313133;
}

JFXButton:hover {
    -fx-background-color: #3b3b3d;
}